/* Home page styling */

* {
    font-family: 'Poppins', 'Times New Roman', Arial, Helvetica, sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
}

.navigation {
    background-color: #0D1B2A;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 10px;
    vertical-align: center;
}

.nav_list div{
    display: flex;
    list-style-position: inside;
    width: 20%;
    margin: 10px;
}

.nav_left {
    display: flex;
    text-align: left;
}

.nav_right {
    justify-content: center;
    flex-grow: 1;
    display: flex;
    flex:1 1 200px;
}

body {
    background-color: #E0E1DD;
    font-size: 80%;
    text-align: center;
}

.main_container {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 2px solid #0D1B2A;
    border-right: 2px solid #0D1B2A;
}

.main_container p {
    font-size: 14px;
}

.footer_container {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

h1{
    color: #0D1B2A;
    font-size: 30px;
    text-align: center;
}

h2 {
    color: #1B263B;
    font-size: 26px;
}

h3 {
    color: #1B263B;
    font-size: 24px;
}

p {
    color: #415A77;
    font-size: 22px;
}

li {
    color: #778DA9;
    font-size: 21px;
}


.lists {
    text-align: center;
    list-style-position: inside;
}

.explain h2, .usage h2, .disclaimers h2 {
    text-align: left;
    padding: 20px;
}

.explain img {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 45%;
}

a {
    color: #778DA9;
    text-decoration: none;
}

a:hover {
    color: #a97f77;
}
